body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#background {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100vw;
  min-height: 780px;
}
#background #top {
  flex: 0 1 25vh;
  background: #4cdd4c;
}
#background #down {
  flex: 1 1;
  background: #0fa11c;
}
