.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#main-container{

    display: grid;

    width: 80vw;
    height: 95vh;

    grid-template-columns: 4fr 1fr;
    grid-template-rows: 5fr 45% 4fr 1fr;

    grid-gap: 5px;

    #header-container {

        grid-column: 1 e("/") 3;
        border: 3px solid white;

        header {

            display: flex;
            flex-flow: column;

            height: 100%;

            .header-top {

                flex: 0 1 50px;
                background: red;

                h1 {

                    margin: 0;
                    padding: 6px 20px;

                    color: white;

                }

            }

            .header-down {

                flex: 1 1;

            }

        }

    }

    #aside-container {

        grid-column: 2 e("/") 3;
        grid-row: 2 e("/") 4;
        
        border: 3px solid white;

    }

    #footer-container {

        grid-column: 1 e("/") 3;
        
        border: 3px solid white;

    }

    #section-container {

        border: 3px solid white;

    }

    #article-container {

        border: 3px solid white;

    }

}