.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.header {

    font-size: 1.8em;

    margin: 5px 0;

}

.white {

    color: white;

}

.bold {

    font-weight: 600;

}

.vertical-center {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.title {

    color: yellow !important;
    font-weight: 600;

}

.navbar-container-responsive {

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background: linear-gradient(to top, limegreen, green);

    display: flex;
    flex-flow: column;

    z-index: 1;

    visibility: hidden;

    a {

        flex: 1 1;
        text-decoration: none;

        position: relative;
        
        div {
        
            font-size: 1.3em;
            text-align: center;

            color: white;

            width: 100%;

        }

    }

    a:hover {

        transition: .4s all linear;
        background: rgba(0, 0, 0, 0.329);

    }

}

    #main-container{

        display: grid;

        width: 80vw;

        grid-template-columns: 1fr 300px;
        grid-template-rows: 260px 40% 4fr 40px;

        position: relative;
        left: 50%;
        transform: translateX(-50%);

        padding: 15px 0;

        grid-gap: 5px;

        #header-container {

            grid-column: 1 e("/") 3;
            border: 3px solid white;

            header {

                display: flex;
                flex-flow: column;

                height: 100%;

                .header-top {

                    display: flex;
                    flex-flow: row;
                    flex: 0 1 50px;

                    position: relative;

                    h1 {

                        margin: 0;
                        padding: 6px 20px;

                        color: white;

                        flex: 0 1 40%;

                    }

                    nav {

                        flex: 1 1;

                        position: relative;

                        .navbar-container {

                            width: 100%;
                            height: 100%;

                            display: flex;
                            flex-flow: row;

                            position: absolute;

                            a {

                                flex: 1 1;
                                text-decoration: none;

                                position: relative;
                                
                                div {
                                
                                    font-size: 1.3em;
                                    text-align: center;

                                    color: white;

                                    width: 100%;

                                }

                            }

                            a:hover {

                                transition: .4s all linear;
                                background: rgba(0, 0, 0, 0.329);

                            }

                        }

                    }

                }

                .header-down {

                    flex: 1 1;
                    
                    background: white;

                    position: relative;

                    .background {

                        width: calc(100% e("-") 10px);
                        height: calc(100% e("-") 10px);

                        background: url("https://d-pt.ppstatic.pl/kadry/k/r/1/75/f8/55d00ddfcfa63_o,size,969x565,q,71,h,a035e6.jpg");
                        background-size: cover;
                        background-position-y: 50%;

                    }

                }

            }

        }

        #aside-container {

            grid-column: 2 e("/") 3;
            grid-row: 2 e("/") 4;
            
            border: 3px solid white;

            aside {

                display: flex;
                flex-flow: column;

                height: 100%;

                .gallery {

                    flex: 0 1 40%;
                    margin: 15px;

                    .photos-container {

                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        grid-gap: 10px;

                        width: 100%;
                        height: 90%;

                        .photo {

                            background: url("photo.png");
                            background-size: cover;

                            border: 3px solid white;

                        }

                    }

                }

                .info {

                    flex: 1 1;
                    margin: 15px;

                    p {

                        margin: 2px;

                    }

                }

            }

        }

        #footer-container {

            grid-column: 1 e("/") 3;
            
            background: limegreen;
            
            border-radius: 6px;

            footer {

                width: inherit;
                height: 100%;

                .footer-flex {

                    display: flex;
                    flex-flow: row;

                    height: inherit;

                    .copyright {

                        flex: 1 1;
                        position: relative;

                        span {

                            margin-left: 20px;

                        }

                    }

                    a.nav-element {

                        flex: 0 1 100px;
                        position: relative;

                        span {

                            width: 100%;
                            text-align: center;

                        }

                        :hover {

                            text-decoration: underline;

                        }

                    }

                }

            }

        }

        #section-container {

            border: 3px solid white;

            section {

                margin: 12px;

                .news-container {

                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-gap: 5px;

                    height: auto;

                    overflow-y: auto;
                    overflow-x: hidden;

                    .news {

                        height: auto;

                        p {

                            color: white;

                        }

                    }

                }

            }

        }

        #article-container {

            border: 3px solid white;
            overflow-y: auto;
            color: white;

            article {

                margin: 12px;

            }

        }

    }