@media all and (max-width: 810px){

    #main-container {

        width: 95vw;

    }

    .header-top nav .navbar-container{
        
        display: none !important;

    }

     .hamburger-menu {

         display: block !important;

     }

}

.hamburger-menu {

    display: none;
    
    height: 95%;
    width: 50px;

    background: url("icon.png");
    background-size: cover;

    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-95%,-50%);

    cursor: pointer;

}