@media all and (max-width: 810px) {
  #main-container {
    width: calc(100vw - 5px);
    padding: 5px 0;
  }
  .header-top nav .navbar-container {
    display: none !important;
  }
  .hamburger-menu {
    display: block !important;
  }
}
@media all and (max-width: 1110px) {
  #main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 190px 40% 4fr 250px 40px;
    grid-template-areas: "header" "article" "section" "aside" "footer";
  }
  #main-container #header-container {
    grid-area: header;
  }
  #main-container #article-container {
    grid-area: article;
  }
  #main-container #section-container {
    grid-area: section;
  }
  #main-container #aside-container {
    grid-area: aside;
  }
  #main-container #aside-container aside {
    flex-flow: row;
  }
  #main-container #aside-container aside .info {
    order: 1;
  }
  #main-container #aside-container aside .gallery {
    order: 2;
    flex: 0 1 50%;
  }
  #main-container #aside-container aside .gallery .photos-container {
    height: 80%;
  }
  #main-container #footer-container {
    grid-area: footer;
  }
}
@media all and (max-width: 585px) {
  #main-container {
    grid-template-rows: 190px 40% 4fr auto 200px;
  }
  #main-container #footer-container footer .footer-flex {
    flex-flow: column;
  }
  #main-container #footer-container footer .footer-flex .copyright {
    order: 1;
  }
  #main-container #footer-container footer .footer-flex .copyright span {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }
  #main-container #footer-container footer .footer-flex a.nav-element {
    flex: 1 1;
  }
  #aside-container aside {
    flex-flow: column !important;
  }
  #aside-container aside .gallery {
    order: 1 !important;
  }
  #aside-container aside .gallery .photos-container {
    height: 240px !important;
    grid-template-rows: 1fr 1fr;
  }
  #aside-container aside .gallery .photos-container .photo {
    height: auto;
  }
  #aside-container aside .info {
    order: 2 !important;
  }
}
.hamburger-menu {
  display: none;
  height: 95%;
  width: 50px;
  background: url("icon.png");
  background-size: cover;
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translate(-95%, -50%);
  cursor: pointer;
}
